<!DOCTYPE html>
<html>
<head>
  <title>CanLII Thing</title>
  <%= stylesheet_link_tag 'bootstrap.min', 'application' %>
  <%= javascript_include_tag 'jquery', 'bootstrap', 'arbor', 'vis', 'cases' %>
  <%= include_gon %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
